.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: -50px;
  padding: 24px;

  .input__form {
    width: 638px;
    outline: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 16px;

    border-radius: 8px;
    border: 1px solid #0d0d0d;
    color: #808080;
    background-color: #262626;
  }

  .input__form::placeholder {
    font-style: italic;
  }

  .btn__form {
    padding: 19px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 8px;
    color: #f2f2f2;
    background: #1e6f9f;
  }

  .btn__form:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
